# Cleaning WMDA Data

In [119]:

import pandas as pd
import numpy as np

#%matplotlib notebook to make interactive within same window as JN
#%matplotlib
#%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.lines import Line2D

#SciKit Learn
from sklearn import svm
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.cluster import KMeans
from sklearn.impute import SimpleImputer

from sklearn import preprocessing
from sklearn.decomposition import PCA

#Plotly
import plotly.express as px
import plotly.graph_objects as go

import seaborn as sns
import scipy as sci
import statsmodels as stats

In [120]:
# Get .csv Data and change missing values label to NaN (was "..")
WorldData = pd.read_csv("WorldMarketData.csv", na_values = '..')

In [121]:
# Turn data into pandas DataFrame
df_original = pd.DataFrame(WorldData)

In [122]:
df_original.head(5)

,Country Name,Country Code,Series Name,Series Code,1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,United States,USA,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,3.49,3.86,3.07,2.67,2.35,2.08,...,2.31,2.63,2.80,2.45,2.42,2.30,2.27,2.30,2.31,2.26
1,United States,USA,Agricultural raw materials imports (% of merch...,TM.VAL.AGRI.ZS.UN,2.04,2.11,2.04,1.91,1.73,1.66,...,0.85,0.96,0.98,0.88,0.91,0.93,0.91,0.95,0.91,0.88
2,United States,USA,Average time to clear exports through customs ...,IC.CUS.DURS.EX,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,United States,USA,Bribery incidence (% of firms experiencing at ...,IC.FRM.BRIB.ZS,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,United States,USA,Changes in inventories (current US$),NE.GDI.STKB.CD,"63,785,000,000.00","31,174,000,000.00","30,799,000,000.00","70,927,000,000.00","63,719,000,000.00","60,816,000,000.00",...,"-150,772,000,000.00","53,917,000,000.00","46,262,000,000.00","71,212,000,000.00","104,531,000,000.00","84,490,000,000.00","128,724,000,000.00","28,940,000,000.00","25,484,000,000.00",nan

In [123]:
# Display only two decimal places for Pandas by changing the display options
pd.options.display.float_format = '{:,.2f}'.format

In [124]:
# Change Column Labels accordignly
df_original.columns = ['country', 'country_code', 'series', 'series_code', '1994', '1995', '1996', '1997', '1998', 
             '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', 
             '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [125]:
# List the original Columns
df_original.columns[:]

Index(['country', 'country_code', 'series', 'series_code', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [126]:
# Get the overhead info on the data
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3805 entries, 0 to 3804
Data columns (total 29 columns):
country         3802 non-null object
country_code    3800 non-null object
series          3800 non-null object
series_code     3800 non-null object
1994            1654 non-null float64
1995            1733 non-null float64
1996            1824 non-null float64
1997            1827 non-null float64
1998            1841 non-null float64
1999            1867 non-null float64
2000            1898 non-null float64
2001            1926 non-null float64
2002            1945 non-null float64
2003            2061 non-null float64
2004            2112 non-null float64
2005            2263 non-null float64
2006            2371 non-null float64
2007            2803 non-null float64
2008            2365 non-null float64
2009            2366 non-null float64
2010            2834 non-null float64
2011            2393 non-null float64
2012            2819 non-null float64
2013            2428 non-null float64
2014            3254 non-null float64
2015            2826 non-null float64
2016            3240 non-null float64
2017            2641 non-null float64
2018            2135 non-null float64
dtypes: float64(25), object(4)
memory usage: 862.1+ KB

In [127]:
# Drop useless columns and change the dataframe name to "df"
df = df_original.drop(columns=['country_code', 'series_code'])
df.head()

,country,series,1994,1995,1996,1997,1998,1999,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United States,Agricultural raw materials exports (% of merch...,3.49,3.86,3.07,2.67,2.35,2.08,2.27,2.31,...,2.31,2.63,2.80,2.45,2.42,2.30,2.27,2.30,2.31,2.26
1,United States,Agricultural raw materials imports (% of merch...,2.04,2.11,2.04,1.91,1.73,1.66,1.38,1.35,...,0.85,0.96,0.98,0.88,0.91,0.93,0.91,0.95,0.91,0.88
2,United States,Average time to clear exports through customs ...,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,United States,Bribery incidence (% of firms experiencing at ...,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,United States,Changes in inventories (current US$),"63,785,000,000.00","31,174,000,000.00","30,799,000,000.00","70,927,000,000.00","63,719,000,000.00","60,816,000,000.00","54,544,000,000.00","-38,284,000,000.00",...,"-150,772,000,000.00","53,917,000,000.00","46,262,000,000.00","71,212,000,000.00","104,531,000,000.00","84,490,000,000.00","128,724,000,000.00","28,940,000,000.00","25,484,000,000.00",nan

In [128]:
df.tail()

,country,series,1994,1995,1996,1997,1998,1999,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3800,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3801,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3802,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3803,Data from database: World Development Indicators,NaN,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3804,Last Updated: 07/10/2019,NaN,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [129]:
#Get rid of the bottom rows that have no value/meaning
df = df.drop(df.index[3800:])
df.tail(5)

,country,series,1994,1995,1996,1997,1998,1999,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3795,High income,"Time to export, border compliance (hours)",nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,28.05,26.81,26.54,26.42,26.05
3796,High income,"Time to import, border compliance (hours)",nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,30.05,27.81,27.78,27.40,27.19
3797,High income,"Time to export, documentary compliance (hours)",nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,15.93,15.10,14.86,13.45,13.08
3798,High income,"Time to import, documentary compliance (hours)",nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,21.67,20.86,19.24,18.67,17.71
3799,High income,Trade (% of GDP),41.45,43.77,44.32,46.35,46.64,46.96,51.53,50.30,...,53.12,58.39,62.45,62.90,62.83,62.92,61.38,59.66,61.56,nan

# Tidying Dataframe

### Make the dataframe more interpretable for modeling

Many models and algorithms use a very particular structure. Often it is best to organize data in a way that agrees with this. Below are two sources I found that describe some of the usefulness behind this, for further reading.

- [Tidy Data Paper](http://vita.had.co.nz/papers/tidy-data.pdf)
- [Tidy Data Logic](https://www.jeannicholashould.com/tidy-data-in-python.html)

>Essentially, a data layout that may not be as intuitive for us visually, may be far simpler and more efficient from a computational standpoint.

In [130]:
df.head()

,country,series,1994,1995,1996,1997,1998,1999,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United States,Agricultural raw materials exports (% of merch...,3.49,3.86,3.07,2.67,2.35,2.08,2.27,2.31,...,2.31,2.63,2.80,2.45,2.42,2.30,2.27,2.30,2.31,2.26
1,United States,Agricultural raw materials imports (% of merch...,2.04,2.11,2.04,1.91,1.73,1.66,1.38,1.35,...,0.85,0.96,0.98,0.88,0.91,0.93,0.91,0.95,0.91,0.88
2,United States,Average time to clear exports through customs ...,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,United States,Bribery incidence (% of firms experiencing at ...,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,United States,Changes in inventories (current US$),"63,785,000,000.00","31,174,000,000.00","30,799,000,000.00","70,927,000,000.00","63,719,000,000.00","60,816,000,000.00","54,544,000,000.00","-38,284,000,000.00",...,"-150,772,000,000.00","53,917,000,000.00","46,262,000,000.00","71,212,000,000.00","104,531,000,000.00","84,490,000,000.00","128,724,000,000.00","28,940,000,000.00","25,484,000,000.00",nan

In [131]:
#Use .melt to Tidy the dataframe
df1 = pd.melt(df,
                       ["country", 'series'],
                       var_name="year",
                       value_name="value")
#df1 = df1.sort_values(by=["year"], ascending = True)
df1.head(10)

,country,series,year,value
0,United States,Agricultural raw materials exports (% of merch...,1994,3.49
1,United States,Agricultural raw materials imports (% of merch...,1994,2.04
2,United States,Average time to clear exports through customs ...,1994,nan
3,United States,Bribery incidence (% of firms experiencing at ...,1994,nan
4,United States,Changes in inventories (current US$),1994,"63,785,000,000.00"
5,United States,Commercial service exports (current US$),1994,"183,327,000,000.00"
6,United States,Commercial service imports (current US$),1994,"120,768,000,000.00"
7,United States,"Computer, communications and other services (%...",1994,36.14
8,United States,"Computer, communications and other services (%...",1994,24.38
9,United States,Cost of business start-up procedures (% of GNI...,1994,nan

### Testing Tidy Data

In [132]:
# Brief example of how it can make computation faster and more effective
dfg = df1[df1['series'] == 'GDP (current US$)']
dfg

                    country             series  year                 value
21            United States  GDP (current US$)  1994  7,287,236,000,000.00
97           United Kingdom  GDP (current US$)  1994  1,140,489,745,944.29
173                   China  GDP (current US$)  1994    564,324,670,005.92
249      Russian Federation  GDP (current US$)  1994    395,077,301,248.46
325               Argentina  GDP (current US$)  1994    257,440,000,000.00
401               Australia  GDP (current US$)  1994    322,208,924,247.66
477                 Bahrain  GDP (current US$)  1994      5,567,553,457.45
553                 Belgium  GDP (current US$)  1994    246,194,938,750.90
629                  Brazil  GDP (current US$)  1994    558,111,997,497.26
705                  Canada  GDP (current US$)  1994    578,139,279,437.61
781                   Chile  GDP (current US$)  1994     57,008,425,295.83
857                Colombia  GDP (current US$)  1994     81,703,500,846.04
933        Congo, Dem. Rep.  GDP (current US$)  1994      5,820,382,248.28
1009             Costa Rica  GDP (current US$)  1994     10,432,619,325.62
1085     Dominican Republic  GDP (current US$)  1994     14,664,237,666.67
1161            El Salvador  GDP (current US$)  1994      7,679,384,000.00
1237                 France  GDP (current US$)  1994  1,393,982,750,472.59
1313                Germany  GDP (current US$)  1994  2,205,966,011,811.50
1389              Guatemala  GDP (current US$)  1994     12,983,235,568.23
1465               Honduras  GDP (current US$)  1994      4,642,280,682.14
1541   Hong Kong SAR, China  GDP (current US$)  1994    135,812,069,768.65
1617                  India  GDP (current US$)  1994    327,275,591,371.34
1693                Ireland  GDP (current US$)  1994     57,166,035,571.26
1769                 Israel  GDP (current US$)  1994     86,216,971,147.42
1845                  Italy  GDP (current US$)  1994  1,095,590,833,693.56
1921                 Jordan  GDP (current US$)  1994      6,237,739,516.24
1997                  Japan  GDP (current US$)  1994  4,907,039,384,469.68
2073            Korea, Rep.  GDP (current US$)  1994    455,602,962,225.40
2149             Luxembourg  GDP (current US$)  1994     18,325,791,415.48
2225               Malaysia  GDP (current US$)  1994     74,477,975,918.31
...                     ...                ...   ...                   ...
92741  Hong Kong SAR, China  GDP (current US$)  2018    362,992,536,837.41
92817                 India  GDP (current US$)  2018  2,726,322,616,821.31
92893               Ireland  GDP (current US$)  2018    375,902,683,115.57
92969                Israel  GDP (current US$)  2018    369,690,434,708.80
93045                 Italy  GDP (current US$)  2018  2,073,901,988,878.23
93121                Jordan  GDP (current US$)  2018     42,290,832,157.97
93197                 Japan  GDP (current US$)  2018  4,970,915,556,638.88
93273           Korea, Rep.  GDP (current US$)  2018  1,619,423,701,169.63
93349            Luxembourg  GDP (current US$)  2018     69,487,922,619.34
93425              Malaysia  GDP (current US$)  2018    354,348,422,831.19
93501                Mexico  GDP (current US$)  2018  1,223,808,885,585.61
93577               Morocco  GDP (current US$)  2018    118,495,328,198.08
93653           Netherlands  GDP (current US$)  2018    912,872,334,082.47
93729             Nicaragua  GDP (current US$)  2018     13,117,859,221.66
93805                Norway  GDP (current US$)  2018    434,750,937,596.07
93881                  Oman  GDP (current US$)  2018     79,294,928,478.54
93957                  Peru  GDP (current US$)  2018    222,237,570,741.80
94033                Panama  GDP (current US$)  2018     65,055,100,000.00
94109                 Qatar  GDP (current US$)  2018    192,009,340,659.34
94185           Philippines  GDP (current US$)  2018    330,910,343,610.96
94261          Saudi Arabia  GDP (current US$)  2018    782,483,466,666.67
94337                 Spain  GDP (current US$)  2018  1,426,189,137,596.58
94413             Singapore  GDP (current US$)  2018    364,156,657,769.87
94489           Switzerland  GDP (current US$)  2018    705,501,304,688.70
94565  United Arab Emirates  GDP (current US$)  2018    414,178,897,208.99
94641              Zimbabwe  GDP (current US$)  2018     31,000,519,447.17
94717                 World  GDP (current US$)  2018 85,790,820,876,816.09
94793            Low income  GDP (current US$)  2018    572,219,390,199.09
94869         Middle income  GDP (current US$)  2018 31,140,959,360,365.40
94945           High income  GDP (current US$)  2018 54,108,061,206,415.40

[1250 rows x 4 columns]

In [133]:
# Use pivot to replicate the previous format
dfg.pivot(index = 'country', columns = 'year', values = 'value')

year,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
country,,,,,,,,,,,,,,,,,,,,,
Argentina,"257,440,000,000.00","258,031,750,000.00","272,149,750,000.00","292,859,000,000.00","298,948,250,000.00","283,523,000,000.00","284,203,750,000.00","268,696,750,000.00","97,724,004,251.86","127,586,973,492.18",...,"332,976,484,577.62","423,627,422,092.49","530,163,281,574.66","545,982,375,701.13","552,025,140,252.25","526,319,673,731.64","594,749,285,413.21","557,531,376,217.97","642,695,864,756.35","518,475,134,084.36"
Australia,"322,208,924,247.66","367,216,364,716.36","400,302,731,411.23","434,568,007,512.91","398,899,138,574.24","388,608,221,581.65","415,222,633,925.77","378,376,086,723.19","394,648,911,678.53","466,488,060,570.76",...,"927,805,183,330.88","1,146,138,465,603.81","1,396,649,906,339.35","1,546,151,783,872.96","1,576,184,467,015.49","1,467,483,705,131.74","1,351,520,093,185.79","1,210,028,388,411.70","1,330,803,227,996.08","1,432,195,178,668.32"
Bahrain,"5,567,553,457.45","5,849,467,819.15","6,101,861,436.17","6,349,202,393.62","6,183,776,595.74","6,621,010,372.34","9,062,906,914.89","8,976,207,712.77","9,632,155,053.19","11,074,822,074.47",...,"22,938,218,085.11","25,713,271,276.60","28,776,595,744.68","30,749,308,510.64","32,539,547,872.34","33,387,712,765.96","31,125,851,063.83","32,250,132,978.72","35,432,686,170.21","37,746,196,808.51"
Belgium,"246,194,938,750.90","289,567,323,481.12","281,358,175,895.77","254,813,599,458.73","260,601,911,535.90","260,202,429,149.80","237,904,919,845.22","237,841,968,680.09","258,860,436,664.78","319,002,821,670.43",...,"484,552,792,442.34","483,548,031,197.11","527,008,453,886.93","497,884,216,568.87","520,925,468,952.94","530,808,391,525.11","455,940,347,170.37","469,677,213,719.19","494,901,708,704.27","531,766,935,070.73"
Brazil,"558,111,997,497.26","769,305,386,182.85","850,426,432,991.74","883,199,625,324.68","863,723,411,632.92","599,388,579,985.67","655,420,645,476.91","559,372,276,081.97","507,962,487,700.02","558,319,920,831.98",...,"1,667,019,783,585.08","2,208,871,646,202.82","2,616,201,578,192.25","2,465,188,674,415.03","2,472,806,456,101.29","2,455,994,050,148.75","1,802,214,373,741.32","1,796,275,437,087.99","2,053,594,973,992.61","1,868,626,087,908.48"
Canada,"578,139,279,437.61","604,031,623,433.40","628,546,387,972.13","652,823,920,265.78","631,813,279,406.81","676,084,000,807.70","742,295,468,318.63","736,379,777,892.56","757,950,678,646.53","892,382,413,817.71",...,"1,371,153,004,986.44","1,613,542,812,589.39","1,789,140,665,202.84","1,823,966,686,523.63","1,842,018,420,853.10","1,801,480,123,070.82","1,552,899,925,233.71","1,526,705,529,135.32","1,646,867,220,617.47","1,709,327,324,240.04"
Chile,"57,008,425,295.83","73,447,063,319.30","78,039,572,221.60","84,952,360,922.47","81,577,430,181.41","75,173,794,497.03","77,860,932,151.85","70,979,923,960.37","69,736,811,435.10","75,643,459,839.60",...,"172,389,498,444.62","218,537,551,220.07","252,251,992,029.44","267,122,320,056.70","278,384,332,694.36","260,541,637,327.86","243,919,079,437.22","250,339,876,460.23","277,746,457,909.87","298,231,139,609.45"
China,"564,324,670,005.92","734,547,898,220.51","863,746,717,503.79","961,603,952,951.82","1,029,043,097,554.08","1,093,997,267,271.06","1,211,346,869,605.24","1,339,395,718,865.30","1,470,550,015,081.55","1,660,287,965,662.68",...,"5,101,702,432,883.45","6,087,164,527,421.24","7,551,500,425,597.77","8,532,230,724,141.76","9,570,405,758,739.79","10,438,529,153,237.60","11,015,542,352,468.90","11,137,945,669,350.60","12,143,491,448,186.10","13,608,151,864,637.90"
Colombia,"81,703,500,846.04","92,507,279,383.04","97,160,109,277.81","106,659,508,271.26","98,443,739,941.17","86,186,158,684.77","99,886,577,330.73","98,211,749,595.54","97,963,003,804.79","94,641,378,693.22",...,"232,494,134,119.68","286,103,648,654.54","334,454,039,093.59","370,574,421,703.06","381,866,608,838.80","381,112,119,657.45","293,481,748,240.78","282,825,009,887.46","311,789,874,617.10","330,227,866,233.32"
"Congo, Dem. Rep.","5,820,382,248.28","5,643,439,376.10","5,771,454,939.62","6,090,840,548.19","6,215,591,269.90","4,711,259,427.27","19,088,046,305.80","7,438,189,100.33","8,728,038,525.14","8,937,567,059.88",...,"18,648,373,312.39","21,565,720,044.45","25,839,749,198.78","29,306,235,826.38","32,679,745,297.65","35,909,040,265.95","37,917,704,900.12","37,134,799,974.47","38,019,265,625.86","47,227,535,290.94"
Costa Rica,"10,432,619,325.62","11,513,472,785.72","11,618,286,652.04","12,552,071,488.01","13,617,405,297.06","14,195,623,342.76","14,949,514,493.42","15,913,363,440.51","16,504,795,592.93","17,196,009,811.16",...,"30,562,363,429.76","37,268,616,183.97","42,262,694,503.96","46,473,131,798.89","49,745,084,869.71","50,577,769,785.08","54,775,997,555.62","57,157,995,872.68","58,174,550,211.55","60,126,014,828.60"
Dominican Republic,"14,664,237,666.67","16,598,679,279.07","18,241,691,857.35","20,017,908,829.33","21,672,526,562.79","22,137,599,986.11","24,305,116,729.19","25,599,311,449.38","27,362,875,602.50","21,642,882,856.42",...,"48,376,555,305.69","53,982,886,258.22","57,811,180,659.45","60,657,780,260.68","62,661,773,591.72","66,065,015,410.05","68,802,092,020.94","72,342,967,648.34","75,931,656,814.66","81,298,585,403.30"
El Salvador,"7,679,384,000.00","8,921,947,100.00","9,586,327,800.00","10,221,705,900.00","10,936,669,900.00","11,284,197,000.00","11,784,927,700.00","12,282,533,600.00","12,664,190,300.00","13,243,892,200.00",...,"17,601,616,000.00","18,447,920,000.00","20,283,780,000.00","21,386,160,000.00","21,990,970,000.00","22,593,470,000.00","23,438,240,000.00","24,154,120,000.00","24,927,970,000.00","26,056,950,000.00"
France,"1,393,982,750,472.59","1,601,094,756,209.75","1,605,675,086,549.56","1,452,884,917,959.09","1,503,108,739,159.44","1,492,647,560,196.04","1,362,248,940,482.77","1,376,465,324,384.79","1,494,286,655,373.61","1,840,480,812,641.08",...,"2,690,222,283,967.77","2,642,609,548,930.36","2,861,408,170,264.61","2,683,825,225,092.63","2,811,077,725,703.59","2,852,165,760,630.27","2,438,207,896,251.84","2,471,285,607,081.72","2,586,285,406,561.51","2,777,535,239,277.98"
Germany,"2,205,966,011,811.50","2,591,620,035,485.19","2,503,665,193,657.40","2,218,689,375,140.99","2,243,225,519,617.65","2,199,957,383,336.88","1,949,953,934,033.54","1,950,648,769,574.94","2,079,136,081,309.99","2,505,733,634,311.51",...,"3,418,005,001,389.27","3,417,094,562,648.95","3,757,698,281,117.55","3,543,983,909,148.01","3,752,513,503,278.41","3,898,726,503,841.35","3,381,389,338,658.82","3,495,162,856,297.22","3,693,204,332,229.78","3,996,759,291,057.81"
Guatemala,"12,983,235,568.23","14,655,404,433.28","15,674,835,615.31","17,790,026,221.61","19,395,491,992.99","18,318,412,251.36","19,288,827,158.90","18,702,802,789.30","20,776,669,466.61","21,917,706,490.53",...,"37,734,072,278.38","41,338,521,637.69","47,654,783,851.83","50,388,460,924.73","53,851,148,431.93","58,722,323,918.16","63,767,597,193.92","68,663,653,469.12","75,620,095,537.50","78,460,447,919.99"
High income,"23,266,666,489,253.70","25,842,518,062,611.20","26,071,108,667,527.70","25,641,911,715,795.60","25,737,892,801,166.70","27,031,979,061,566.40","27,585,557,764,631.50","27,317,065,031,710.00","28,477,664,377,831.40","31,924,056,132,386.80",...,"43,284,387,566,468.60","45,351,950,807,153.50","48,938,740,139,149.40","48,994,830,250,440.70","49,584,762,999,208.30","50,661,148,005,384.70","47,850,192,718,595.00","48,848,458,207,801.00","51,002,983,022,253.90","54,108,061,206,415.40"
Honduras,"4,642,280,682.14","5,347,445,005.21","5,215,028,986.49","5,737,099,650.19","6,366,340,265.88","6,414,520,529.62","7,103,507,989.05","7,565,877,533.54","7,775,075,857.73","8,140,282,679.97",...,"14,486,137,413.55","15,729,644,901.13","17,588,097,149.76","18,400,538,970.11","18,372,173,610.67","19,618,567,447.22","20,833,948,912.29","21,566,622,849.61","22,940,179,173.61","23,803,230,472.64"
"Hong Kong SAR, China","135,812,069,768.65","144,652,912,433.10","159,717,233,621.66","177,352,785,419.98","168,886,163,221.57","165,768,095,391.56","171,668,164,082.55","169,403,241,524.34","166,349,228,737.39","161,384,522,525.30",...,"214,046,415,026.19","228,637,697,575.04","248,513,617,677.29","262,629,441,493.48","275,696,879,834.97","291,459,356,985.34","309,383,627,028.56","320,860,698,504.31","341,648,103,474.82","362,992,536,837.41"
India,"327,275,591,371.34","360,281,961,338.47","392,897,063,750.68","415,867,763,815.89","421,351,487,589.81","458,820,428,317.59","468,394,948,471.62","485,441,026,156.55","514,937,961,192.91","607,699,299,977.15",...,"1,341,886,699,393.18","1,675,615,312,693.42","1,823,049,927,771.46","1,827,637,859,135.70","1,856,722,121,394.53","2,039,127,446,298.55","2,103,587,813,812.75","2,290,432,075,123.75","2,652,551,202,555.27","2,726,322,616,821.31"
Ireland,"57,166,035,571.26","69,222,624,368.69","75,880,630,166.33","82,826,141,595.03","90,082,051,923.29","98,692,079,266.99","99,852,958,356.37","109,135,253,959.73","127,949,875,023.53","164,284,690,067.72",...,"236,316,405,946.10","222,134,042,030.20","237,907,714,639.40","225,128,651,298.08","238,890,278,093.28","259,101,611,738.07","291,092,489,805.94","302,242,900,803.52","331,430,014,003.05","375,902,683,115.57"
Israel,"86,216,971,147.42","100,238,675,688.24","109,855,414,136.67","114,622,322,548.85","115,861,598,589.51","117,011,468,004.93","132,243,719,324.06","130,671,332,049.36","121,042,412,533.24","126,808,836,147.65",...,"207,451,779,086.03","233,732,926,323.39","261,716,880,681.78","257,435,001,991.47","292,917,010,877.22","310,007,879,343.47","300,470,790,394.92","319,377,923,613.70","353,268,411,918.58","369,690,434,708.80"
Italy,"1,095,590,833,693.56","1,170,787,352,906.22","1,308,929,351,236.04","1,239,050,932,241.93","1,266,309,245,009.48","1,248,563,179,203.07","1,141,759,996,314.72","1,162,317,852,348.99","1,266,510,634,293.24","1,569,649,661,399.55",...,"2,185,160,183,384.27","2,125,058,244,242.92","2,276,292,404,600.52","2,072,823,157,059.76","2,130,491,320,658.68","2,151,732,868,243.21","1,832,273,032,580.67","1,869,201,702,185.17","1,946,570,340,341.13","2,073,901,988,878.23"
Japan,"4,907,039,384,469.68","5,449,116,304,981.10","4,833,712,542,207.10","4,414,732,843,544.43","4,032,509,760,872.94","4,562,078,822,335.45","4,887,519,660,744.86","4,303,544,259,842.72","4,115,116,279,069.77","4,445,658,071,221.86",...,"5,231,382,674,593.70","5,700,098,114,744.41","6,157,459,594,823.72","6,203,213,121,334.12","5,155,717,056,270.83","4,850,413,536,037.84","4,389,475,622,588.97","4,926,667,087,367.51","4,859,950,558,538.97","4,970,915,556,638.88"
Jordan,"6,237,739,516.24","6,727,446,632.42","6,928,359,238.36","7,246,188,575.46","7,912,327,362.48","8,149,106,064.88","8,460,424,400.56","8,975,689,844.85","9,582,453,032.44","10,195,660,789.84",...,"23,974,612,129.76","26,551,480,959.10","28,932,299,012.69","30,966,149,506.35","33,675,599,435.83","36,104,372,355.43","37,968,970,380.82","39,252,468,265.16","40,765,867,418.90","42,290,832,157.97"
"Korea, Rep.","455,602,962,225.40","556,130,926,912.75","598,099,073,901.42","557,503,074,772.15","374,241,351,752.48","485,248,229,336.65","561,633,125,839.99","533,052,076,313.53","609,020,054,512.46","680,520,724,062.40",...,"901,934,953,364.71","1,094,499,338,702.72","1,202,463,682,633.85","1,222,807,284,485.31","1,305,604,981,271.91","1,411,333,926,201.24","1,382,764,027,113.82","1,414,804,158,515.26","1,530,750,923,148.70","1,619,423,701,169.63"
Low income,"78,500,474,578.13","89,456,161,732.58","101,536,982,129.76","106,964,656,831.45","114,077,455,664.44","115,649,658,526.07","137,976,985,614.59","129,270,792,656.61","137,584,168,889.11","149,520,045,347.20",...,"335,063,155,444.68","368,434,174,244.40","412,389,209,537.13","445,017,519,259.08","487,071,447,752.52","523,918,930,466.15","516,772,383,286.39","493,881,247,719.94","526,941,900,134.81","572,219,390,199.09"
Luxembourg,"18,325,791,415.48","21,588,170,498.08","21,776,609,771.99","19,731,912,494.36","20,209,122,027.12","22,235,929,043.26","21,263,514,833.24","21,272,418,791.95","23,616,328,816.11","29,557,325,056.43",...,"51,370,543,206.45","53,212,476,812.30","60,004,630,234.41","56,677,961,787.07","61,739,352,212.30","66,103,853,236.76","57,204,400,105.01","58,961,235,412.22","62,316,359,824.13","69,487,922,619.34"
Malaysia,"74,477,975,918.31","88,704,944,178.63","100,854,996,422.61","100,005,323,301.87","72,167,753,770.89","79,148,947,368.42","93,789,736,842.11","92,783,947,368.42","100,845,263,157.90","110,202,368,421.05",...,"202,257,586,267.56","255,016,609,232.87","297,951,960,784.31","314,443,149,443.15","323,277,158,906.98","338,061,963,396.38","296,636,282,166.18","296,753,497,922.57","314,707,268,049.99","354,348,422,831.19"
Mexico,"527,813,238,126.28","360,073,909,243.85","410,975,595,310.16","500,413,483,109.17","526,502,129,378.28","600,232,874,042.93","707,906,744,574.64","756,706,300,589.79","772,106,378,935.38","729,336,319,677.45",...,"900,045,350,649.35","1,057,801,295,584.05","1,180,489,601,957.61","1,201,089,987,015.45","1,274,443,084,716.57","1,314,563,967,425.24","1,170,564,619,927.69","1,077,827,944,342.35","1,158,071,006,809.62","1,223,808,885,585.61"
Middle income,"4,394,572,681,676.41","4,918,760,487,821.91","5,365,453,344,563.47","5,678,588,877,465.86","5,506,923,442,286.10","5,370,557,520,045.65","5,850,970,372,003.78","5,928,537,914,770.20","6,046,138,409,244.28","6,817,071,675,880.18",...,"16,723,643,664,313.60","20,318,663,211,916.20","24,008,819,917,691.00","25,612,271,289,734.40","27,130,341,304,882.40","28,128,744,930,295.50","26,656,613,147,658.10","26,772,108,788,027.00","29,382,511,794,670.90","31,140,959,360,365.40"
Morocco,"35,604,137,422.58","39,030,285,468.38","43,161,452,678.44","39,147,844,526.08","41,806,219,378.62","41,632,027,599.85","38,857,251,336.34","39,459,581,217.38","42,236,836,820.62","52,064,058,833.97",...,"92,897,320,375.82","93,216,746,661.60","101,370,474,295.11","98,266,306,615.36","106,825,649,872.11","110,081,248,587.37","101,179,808,076.36","103,345,296,966.61","109,708,728,848.54","118,495,328,198.08"
Netherlands,"379,130,260,200.99","452,301,674,444.14","450,490,196,078.43","416,812,740,004.52","438,008,220,395.47","446,898,572,341.79","416,442,786,069.65","431,213,422,818.79","471,613,965,744.40","578,792,325,056.43",...,"868,077,243,678.80","846,554,894,931.08","904,085,980,796.02","838,971,306,990.91","876,923,518,850.41","890,981,311,077.66","765,264,949,781.00","783,528,181,704.57","830,572,618,849.83","912,872,334,082.47"
Nicaragua,"3,863,185,119.05","4,140,470,000.00","4,308,351,902.79","4,389,965,590.97","4,635,267,224.84","4,855,717,874.68","5,107,329,007.09","5,323,146,565.70","5,224,213,017.54","5,322,454,925.85",...,"8,298,695,144.92","8,758,622,328.67","9,774,316,692.16","10,532,001,129.67","10,982,972,256.38","11,880,438,824.45","12,756,717,322.76","13,286,093,197.48","13,843,586,679.54","13,117,859,221.66"
Norway,"127,131,461,119.93","152,027,402,449.80","163,517,783,497.16","161,354,369,892.84","154,165,219,811.53","162,286,003,692.69","171,315,639,982.73","174,003,247,439.30","195,418,347,152.98","228,752,436,371.85",...,"386,622,457,579.95","429,130,952,709.22","498,831,558,925.86","510,229,136,226.90","523,502,127,659.57","499,338,534,779.16","386,663,139,402.71","371,344,761,904.76","399,488,897,844.05","434,750,937,596.07"
Oman,"12,918,855,656.70","13,802,600,780.23","15,277,763,329.00","15,837,451,235.37","14,085,373,211.96","15,710,148,244.47","19,507,412,223.67","19,452,015,604.68","20,142,782,834.85","21,633,810,143.04",...,"48,388,296,488.95","58,642,392,717.82","67,937,581,274.38","76,689,206,762.03","78,784,395,318.60","81,076,723,016.91","68,921,456,436.93","65,941,482,444.73","70,783,875,162.55","79,294,928,478.54"
Panama,"9,365,289,800.00","9,573,813,700.00","9,870,494,000.00","10,677,286,100.00","11,575,486,400.00","12,130,252,200.00","12,304,115,000.00","12,502,013,400.00","12,994,310,400.00","13,693,981,200.00",...,"27,116,635,600.00","29,440,300,000.00","34,686,200,000.00","40,429,700,000.00","45,600,000,000.00","49,921,500,000.00","54,091,700,000.00","57,957,600,000.00","62,283,800,000.00","65,055,100,000.00"
Peru,"44,882,079,766.89","53,312,793,687.38","55,252,414,130.30","58,147,522,522.52","55,501,467,877.38","50,187,324,567.88","51,744,749,133.21","52,030,158,775.41","54,777,553,515.08","58,731,030,121.87",...,"120,822,986,521.48","147,528,937,028.78","171,761,737,046.58","192,648,999,090.08","201,175,469,114.33","200,983,797,111.66","189,759,138,299.21","191,907,499,037.07","210,702,303,186.43","222,237,570,741.80"
Philippines,"64,084,460,124.46","74,119,987,244.50","82,848,140,618.03","82,344,260,570.67","72,207,028,767.76","82,995,145,792.93","81,026,300,310.01","76,262,072,467.38","81,357,605,641.85","83,908,206,647.93",...,"168,334,601,260.08","199,590,775,190.26","224,143,083,706.78","250,092,092,998.14","271,836,123,723.68","284,584,522,898.87","292,774,099,013.69","304,897,590,205.41","313,619,747,740.19","330,910,343,610.96"
Qatar,"7,374,450,769.23","8,137,911,978.02","9,059,340,384.62","11,297,802,115.38","10,255,495,027.47","12,393,131,868.13","17,759,890,109.89","17,538,461,538.46","19,363,736,263.74","23,533,791,208.79",...,"97,798,351,648.35","125,122,306,346.15","167,775,274,725.27","186,833,516,483.52","198,727,747,252.75","206,224,725,274.73","161,739,835,164.83","151,732,142,857.14","166,928,571,428.57","192,009,340,659.34"
Russian Federation,"395,077,301,248.46","395,537,185,734.85","391,724,890,744.50","404,928,954,191.88","270,955,486,862.44","195,907,128,350.93","259,710,142,196.94","306,602,070,620.50","345,470,494,417.86","430,347,770,733.16",...,"1,222,644,282,200.48","1,524,917,468,442.60","2,051,661,732,059.47","2,210,256,976,944.74","2,297,128,039,058.16","2,059,984,158,384.60","1,363,594,369,511.40","1,282,723,881,083.71","1,578,624,060,588.26","1,657,553,765,580.67"
Saudi Arabia,"135,174,886,488.65","143,343,036,341.79","158,662,398,744.99","165,963,557,409.88","146,775,498,080.00","161,716,960,000.00","189,514,926,213.33","184,137,469,733.33","189,605,920,240.00","215,807,655,253.33",...,"429,097,866,666.67","528,207,200,000.00","671,238,840,106.67","735,974,843,360.00","746,647,127,413.33","756,350,347,333.33","654,269,902,880.00","644,935,541,440.00","688,586,133,333.33","782,483,466,666.67"
Singapore,"73,690,847,191.31","87,810,991,957.10","96,295,886,524.82","100,124,191,810.35","85,728,310,229.45","86,284,660,766.96","96,074,477,958.24","89,794,943,349.89","92,537,752,708.59","97,645,448,283.78",...,"194,152,286,008.94","239,809,387,605.43","279,351,168,707.27","295,087,220,933.02","307,576,360,584.99","314,851,156,183.41","308,004,146,057.61","318,068,476,293.88","338,406,474,038.67","364,156,657,769.87"
Spain,"529,121,577,319.59","612,939,685,081.40","640,998,292,394.59","588,692,045,454.55","617,041,986,858.22","633,194,118,900.49","595,402,616,546.90","625,975,838,926.18","705,145,868,624.13","906,853,273,137.70",...,"1,499,099,749,930.54","1,431,616,749,640.29","1,488,067,258,325.20","1,336,018,949,805.58","1,361,854,206,549.39","1,376,910,811,040.88","1,199,084,183,705.08","1,237,499,479,181.11","1,314,314,164,402.20","1,426,189,137,596.58"
Switzerland,"292,646,657,673.47","342,617,007,103.59","330,091,688,349.52","286,519,135,326.95","295,045,152,020.97","289,912,492,344.56","272,055,499,940.79","278,631,271,391.33","301,416,810,214.29","352,914,820,747.01",...,"541,506,500,413.57","583,782,977,866.41","699,579,638,638.23","668,043,614,122.87","688,504,173,431.45","709,182,559,935.30","679,832,291,693.26","670,181,065,629.16","678,965,423,322.02","705,501,304,688.70"

## Back to the Primary Tidy Data

In [134]:
# Drop the following "countries" because they wildly outscale the others (since they are aggregates)
df1 = df1.set_index('country').drop(index = ['World', 'Low income', 'Middle income', 'High income']).reset_index()
df1.head()

,country,series,year,value
0,United States,Agricultural raw materials exports (% of merch...,1994,3.49
1,United States,Agricultural raw materials imports (% of merch...,1994,2.04
2,United States,Average time to clear exports through customs ...,1994,nan
3,United States,Bribery incidence (% of firms experiencing at ...,1994,nan
4,United States,Changes in inventories (current US$),1994,"63,785,000,000.00"

# Put it all together for a *one-cell-get_data_and_clean-solution*

In [135]:
import pandas as pd
import numpy as np

WorldData = pd.read_csv("WorldMarketData.csv", na_values = '..')
df_original = pd.DataFrame(WorldData)
pd.options.display.float_format = '{:,.2f}'.format
df_original.columns = ['country', 'country_code', 'series', 'series_code', '1994', '1995', '1996', '1997', '1998', 
             '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', 
             '2012', '2013', '2014', '2015', '2016', '2017', '2018']

df = df_original.drop(columns=['country_code', 'series_code'])
df = df.drop(df.index[3800:])
df1 = pd.melt(df,
                       ["country", 'series'],
                       var_name="year",
                       value_name="value")
#df1 = df1.sort_values(by=["year"], ascending = True)
df1 = df1.set_index('country').drop(index = ['World', 'Low income', 'Middle income', 'High income'])
df1 = df1.reset_index()
df1.head()

,country,series,year,value
0,United States,Agricultural raw materials exports (% of merch...,1994,3.49
1,United States,Agricultural raw materials imports (% of merch...,1994,2.04
2,United States,Average time to clear exports through customs ...,1994,nan
3,United States,Bribery incidence (% of firms experiencing at ...,1994,nan
4,United States,Changes in inventories (current US$),1994,"63,785,000,000.00"

## We now have a single cell that organizes, cleans, and restructures the WMDA data